@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
@layer components {

    /* hover  animation  */
    .hsx {
      @apply  hover:translate-x-3 transition delay-100 duration-300 ease-in-out
    }
    /* testimonial border round  */
    .test-b-round {
      @apply  xl:border-x-4 rounded-full xl:mx-16 relative
    }
    /* testimonial border image css */
    .test-img {
      @apply  hidden xl:flex absolute rounded-full w-10 border-2 border-orange-400
    }
    /* testimonial border image css */
    .login-input {
      @apply p-2  w-full shadow-md rounded-md  outline-none border-b-2 border-black focus:shadow focus:border-red-600 font-semibold
    }
   
  }

/* background color  */
.green-bg{
    background-color: rgb(44,108,94);
}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
/* triangle */
.triangle-1 {
  width: 200px;
  height: 200px;
  border-bottom: solid 100px rgb(246, 167, 19) ;
  border-left: solid 100px rgb(246, 167, 19);
  border-right: solid 100px transparent;
  border-top: solid 100px transparent;
}
